@import 'tailwindcss';
@custom-variant hover (&:hover);
@font-face {
    font-family: 'Roobert';
    src: url('./assets/DP_roobert_TRIAL/DP_roobert_TRIAL/RoobertTRIAL-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roobert';
    src: url('./assets/DP_roobert_TRIAL/DP_roobert_TRIAL/RoobertTRIAL-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roobert';
    src: url('./assets/DP_roobert_TRIAL/DP_roobert_TRIAL/RoobertTRIAL-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roobert';
    src: url('./assets/DP_roobert_TRIAL/DP_roobert_TRIAL/RoobertTRIAL-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@theme {
    --breakpoint-xs: 30rem;
}

:root {
  font-family: Roobert, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #1a1b1c;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wave {
    animation: wave 600ms ease-in-out;
}

@keyframes wave {
    0% {
        opacity: 1;
        width: var(--size-base);
        height: var(--size-base);
    }
    50% {
        opacity: var(--opacity-expanded);
        width: var(--size-expanded);
        height: var(--size-expanded);
    }
    100% {
        opacity: var(--opacity-end);
        width: var(--size-expanded);
        height: var(--size-expanded);
    }
}